html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

img {
    width: 100%;
}

.hero {
    height: 100%;
    padding-top: 70px;
    padding-bottom: 20px;
}

.hero p {
    margin-bottom: 40px;
}

#cta-button {
    text-decoration: none;
    margin-top: 15px;
    padding: 15px;
    color: #fff;
    background-color: #7510F7;
}

#skills {
    padding-top: 60px;
    padding-bottom: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    margin-right: 10px;
}

.projects {
    padding-bottom: 20px;
}

.project-cards {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.contact {
    padding-top: 20px;
    padding-bottom: 20px;
}